<div class="container">
    <br>
    <br>

    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <span style="font-size: 25px">B</span>orn and brought up in Jaipur, I graduated as a B.Tech in Electronics and Communications Engineer. While I
            like tinkering with electronics now and then, I soon realized computer engineering was my true calling. I
            started my career with Infosys Limited as a Test Engineer, where I worked on __, ___, and ___.
        </div>
    </div>

    <br>

    <div class="row justify-content-md-center">
        <div class="col-md-8">
            Building products from scratch was something that I enjoyed very much, and the hustle of the startup world
            soon pulled me. I joined Clevert, an early age marketing platform, as its founding member and went on to
            work until the very end. Learnings were tremendous since I got an opportunity to develop the application
            from scratch. I developed my expertise in __, __, and __.
        </div>
    </div>

    <br>   

    <div class="row justify-content-md-center">
        <div class="col-md-8">
            Presently I am working with Accenture, wherein I am responsible for handling and building features for
            large-scale enterprise-level applications. I have gained hands-on experience in all stages of development
            along with the ability to understand customer requirements, communicate effectively, and adapting well to
            the changes in a workplace environment.
        </div>
    </div>
</div>